<a href="https://colab.research.google.com/github/wyllton/phyton/blob/master/Introdu%C3%A7%C3%A3o_ao_machine_learning_classifica%C3%A7%C3%A3o_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd 
uri = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"
dados = pd.read_csv(uri)
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [22]:
mapa = {
    "home": "principal",
    "how_it_works" : "como_funciona",
    "contact" : "contato",
    "bought" : "comprou"
}
dados = dados.rename(columns= mapa)

In [23]:
x = dados[["principal","como_funciona","contato"]]
y = dados["comprou"]

In [24]:
dados.shape

(99, 4)

In [32]:
treino_x= x[:75]
treino_y = y[:75]
teste_x = x[75:]
teste_y = y[75:]

print("treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

treinaremos com 75 elementos e testaremos com 24 elementos

In [36]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score
modelo = LinearSVC()
modelo.fit(treino_x,treino_y)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
          verbose=0)

In [38]:
previsoes = modelo.predict(teste_x)

In [41]:
taxa_de_acerto = accuracy_score(teste_y,previsoes)
print("A Taxa de acerto foi de : %.2f%%" % (taxa_de_acerto * 100))

A Taxa de acerto foi de : 95.83%